.vscode
.idea
.ipynb_checkpoints
build
dist
pyfacerecall.egg-info
**/__pycache__
**/dataset
**/model
**/people
**/plot
**/logs
**/test.jpeg
**/.ipynb_checkpoints
**/__pycache__/*
*.pyc
**/*.pyc
**/pyfacerecall/*.pyc